{% extends './partials/layout.html' %}

{% block content %}

<h1>This is my about me page</h1>



<ul>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque magni placeat eveniet aspernatur fuga, perspiciatis amet delectus dolores aperiam corporis! Dignissimos quaerat deserunt necessitatibus nesciunt sit laudantium quis exercitationem.</li>
    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis illum perspiciatis eum?</li>
    <li>Lorem ipsum dolor sit amet.</li>
</ul>


{% endblock content %}